/* body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(169, 169, 253);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    margin-left: 700px;
}


.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.i{
    color: rgb(144, 30, 250);
} */