body {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(160, 250, 220);
}

.navbar {
    background-color: #333;
    float: top;
    overflow: hidden;
    margin: 5%;
    text-align: center;
}


.navbar a {
    float: top;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5%;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.cont{
    float: center;
    align-items: center;
}

.imagen {
    width: 300px;
    height: auto;
    border-radius: 300px;
    border: 4px solid black;
    margin: 5%;
}

.parrafo1 {
    font-size: 30px;
    margin: 5%;
}

.h1 {
    float: center;
    font-size: 50px;
    margin: 5%;
    
}

/* .location {
    float: right;
    margin-right: 200px;
    margin-top: 100px;
} */

.parrafo2 {
    float: right;
    margin: 5%;
    font-size: 20px;
    
}

.i {
    color: rgb(0, 255, 170);;
}